name: CI/CQ
on: [push, pull_request]

permissions:
  contents: read
  pull-requests: write

jobs:
  ciqa:
    uses: xxxMasahiro/ciqa/.github/workflows/pipeline.yml@dc2b906f27a652b532f2e235f32b68c756b0725f
    with:
      profile-path: .ciqa/profile.yml
      ciqa-ref: "dc2b906f27a652b532f2e235f32b68c756b0725f"
    secrets: inherit
