name: CI/CQ
on: [push, pull_request]

permissions:
  contents: read
  pull-requests: write

jobs:
  ciqa:
    uses: xxxMasahiro/ciqa/.github/workflows/pipeline.yml@8133a15765246f3cbccebe4210c306a5e17114cf
    with:
      profile-path: .ciqa/profile.yml
      ciqa-ref: "8133a15765246f3cbccebe4210c306a5e17114cf"
    secrets: inherit
